{% extends 'fastfood/base.html' %}

{% block extra_head %}
<!-- <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    (function(){
    emailjs.init("{{ PUBLIC_KEY }}");
    })();
</script> -->
{% endblock %}

{% block content %}
<section id= section4 class="container-fluid">
    <div id="div4" class="container-fluid">
        <h1>This is my third page</h1>
        <h2>try again</h2>
        <h2>try more</h2>
    </div>
</section>
{% endblock %}

{% block extra_footer %}
    <!-- <script src="{% static 'js/sendEmail.js' %}"></script> -->
{% endblock %}
